@import "defines.css";

* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: var(--color-first);
}


.font2 { 
    font-family: 'Courier New', Courier, monospace;
}

#content {
    background-color: var(--color-third);

    max-width: 960px;
    width: 80%;
    min-height: 200px;
    height: 80vh;

    margin: 50px auto;

    border-radius: 20px;
    padding: 30px;

    position: relative;
}

.text-centered {
    text-align: center;
}

.menu {
    text-align: center;
}

.menu > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.menu > ul > li {
    margin: 20px;
    cursor: pointer;

    transition: all ease-in-out .3s;
}

.menu > ul > li:hover {
    margin: 20px;
    cursor: pointer;

    text-decoration: underline;
}

fieldset {
    position: absolute;
    top: 170px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border: 0;
}

iframe {
    width:100%;
    height: 100%;
    border: 0;
}

.vertical-listed {
    margin: auto;
    width: fit-content;
}

.vertical-listed > * {
    display: inline-block;
}

a {
    margin: 0 10px;
}

a::before { content: "🧭 "; }
.defines::before { content: "📋 "; }
.import::before { content: "📥 "; }
.automatedDoE::before { content: "⏩ "; }
.results::before { content: "📊 "; }
.about::before { content: "🚩 "; }
.experimentIcon::before { content: "📄 "; }

.variable {
    transition: opacity ease-in-out .3s;
    opacity: 0;
}

.variable.visible {
    opacity: 100;
}

.button-wrapper {
    display: flex;
    margin: auto;
}

button {
    font-weight: bold;
    font-size: 16px;

    min-height: 40px;
    margin: auto;
}

.template {
    display: none;
}

.bin {
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.bin:hover {
    transition: scale(1.1);
}

.bin::before {
    content: "❌";
}

.input-small {
    width: 95%;
}

.load-wrapp {
    width: 100px;
    margin: 0px auto;
    text-align: center;
    display: flex;
  }
  
.load-wrapp p {
    padding: 0 0 20px;
}
.load-wrapp:last-child {
    margin-right: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

.load .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
  

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    opacity: .75;
}

.overlay h1 {
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    display: inline-block;
}

select {
    font-size: 20px;
    padding: 5px 25px;
    margin: auto;
    display: block;
    width: 100%;
    
}

img {
    width: 75%;
    display: block;
    margin: auto;
}

@keyframes loadingJ {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(80px, 0);
      background-color: #f5634a;
      width: 25px;
    }
}
  
